<% if current_user.admin? %>

<div class="row" id="quick_metrics">
  <div class="span4">
    <h3>Tracked Athletes</h3>
    <p><%= @athletes.count %><small>in <%= @sports.count %> sports</small></p>
  </div>
  
  <div class="span4">
    <h3>Issues Resolved</h3>
    <p><%= @issues.closed.count %><small><%= @issues.closed.this_week.count %> this week</small></p>
  </div>
  
  <div class="span4">
    <h3>Open Issues</h3>
    <p><%= @issues.open.count %><small><%= @issues.open.today.count %> today</small></p>
  </div>
</div>

<div class="row" id="quick_stats">
  <div class="span3">
    <ul class="nav nav-list well">
      <li class="nav-header">
        Quick Links
      </li>
      <li>
        <%= link_to issues_path(filter: "open") do %>
          <i class="icon-inbox"></i>
          Open Issues
        <% end %>
      </li>
      <li>
        <%= link_to new_user_invitation_path(type: "athlete") do %>
          <i class="icon-user"></i>
          Invite Athlete
        <% end %>
      </li>
      <li>
        <%= link_to blacklists_path do %>
          <i class="icon-ban-circle"></i>
          Manage Blacklist
        <% end %>
      </li>
      <li>
        <%= link_to edit_registration_path(resource) do %>
          <i class="icon-cog"></i>
          User Settings
        <% end %>
      </li>
    </ul>
  </div>
  
  <div class="span3">
    <h4>Latest Issues</h4>
      <% if @issues.present? %>
      <ul>
        <% @issues.order("created_at desc").limit(5).each do |issue| %>
        <li><%= link_to truncate(issue.tweet, length: 25), issue_path(issue) %></li>
        <% end %>
      </ul>
      <% else %>
      <em>No open issues.</em>
      <% end %>
  </div>
  
  <div class="span3">
    <h4>Most Issues by Athlete</h4>
    <% if @issues.present? %>
    <ul>      
      <% @issues.select("distinct on(issues.athlete_id) issues.*").limit(5).each do |issue| %>
      <li><%= link_to issue.athlete.name, issue_path(issue) %> (<%= issue.athlete.athlete_issues.count %>)</li>
      <% end %>
    </ul>
    <% else %>
    <em>No open issues.</em>
    <% end %>
  </div>
  
  <div class="span3">
    <h4>Most Issues by Sport</h4>
    <% if @issues.present? %>
    <ul>
      <% @issues.includes(athlete: :sport).select("distinct on(athlete.sport_id) issues.*").limit(5).each do |issue| %>
      <li><%= link_to issue.athlete.sport.name, issue_path(issue) %></li>
      <% end %>
    </ul>
    <% else %>
    <em>No open issues.</em>
    <% end %>
  </div>
</div>

<% else %>
  
  <%= simple_form_for :tweet, url: post_path do |f| %>
    <%= f.text_field :text %><br />
    <%= f.button :submit, "Tweet!" %>
  <% end %>

<% end %>