<div class="page-header">
  <h1>Blacklists</h1>
</div>

<ul class="nav nav-pills">
  <li<%= " class='active'" if current_page?(filter: "all") || params[:filter].nil? %>>
      <a href="?filter=all">All</a>
  </li>
  <li<%= " class='active'" if current_page?(filter: "default") %>>
      <a href="?filter=default">Default</a>
  </li>
  <li<%= " class='active'" if current_page?(filter: "custom") %>>
      <a href="?filter=custom">Custom</a>
  </li>
</ul>

<% if @blacklists.present? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Word</th>
      <th>Added by</th>
      <th>Added on</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @blacklists.each do |blacklist| %>
      <tr>
        <% if blacklist.respond_to?("persisted?") %>
        <td><%= blacklist.word %></td>
        <td><%= blacklist.user.email %></td>
        <td><%= blacklist.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_blacklist_path(blacklist), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', blacklist_path(blacklist), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
        <% else %>
        <td><%= blacklist %></td>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% paginate @blacklists %>

<% else %>

<div class="row" id="empty_content_page">
  <div class="span12 well">
    <h1>Empty blacklist.</h1>
    <p>You haven't added any words to the blacklist yet. <%= link_to "Add one now.", new_blacklist_path %></p>
  </div>
</div>

<% end %>

<%= link_to 'New Blacklist', new_blacklist_path, class: "btn btn-primary" %>
