<h1>Blacklist</h1>

<p>
  <b>Word</b><br>
  <%= @blacklist.word %>
</p>

<p>
  <b>Added by</b><br>
  <%= @blacklist.user.email %>
</p>

<p>
  <b>Added on</b><br>
  <%= @blacklist.created_at %>
</p>

<div class="form-actions">
  <%= link_to 'Back', blacklists_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_blacklist_path(@blacklist), :class => 'btn' %>
  <%= link_to 'Delete', blacklist_path(@blacklist), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
