<div class="page-header">
  <h1>Issues</h1>
</div>

<% if current_user.admin? %>

<ul class="nav nav-pills">
  <li<%= " class='active'" if current_page?(filter: "open") || params[:filter].nil? %>>
    <a href="?filter=open">Open</a>
  </li>
  <li<%= " class='active'" if current_page?(filter: "all") %>>
      <a href="?filter=all">All</a>
  </li>
  <li<%= " class='active'" if current_page?(filter: "closed") %>>
    <a href="?filter=closed">Closed</a>
  </li>
  <li<%= " class='active'" if current_page?(filter: "rejected") %>>
      <a href="?filter=rejected">Rejected</a>
  </li>
</ul>

<% end %>

<% if @issues.present? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Athlete</th>
      <th>Status</th>
      <th>Response By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.id %></td>
        <td><%= issue.athlete.name %></td>
        <td><%= status_and_icon(issue.status) %></td>
        <td><%= issue.response.blank? ? "No one" : "User Lastname" %></td>
        <td>
          <%= link_to 'View', issue, :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @issues %>

<% else %>

<div class="row" id="empty_content_page">
  <div class="span12 well">
    <h1>No issues to review.</h1>
    <p>You currently don't have any <%= params[:filter] == "all" ? "" : params[:filter] %> issues.</p>
  </div>
</div>

<% end %>