<div class="page-header">
  <h1>Sports</h1>
</div>

<% if @sports.present? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Athletes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.name %></td>
        <td><%= sport.users.count %></td>
        <td>
          <%= link_to 'Edit', edit_sport_path(sport), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', sport_path(sport), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sports %>

<% else %>

<div class="row" id="empty_content_page">
  <div class="span12 well">
    <h1>No sports created.</h1>
    <p>You haven't added any sports yet. <%= link_to "Add one now.", new_sport_path %></p>
  </div>
</div>

<% end %>

<%= link_to 'New', new_sport_path, :class => 'btn btn-primary' %>