<%= simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :class => 'form-horizontal', :method => :post }) do |f| %>
  <fieldset>
    <legend>Invite <%= params[:type] %></legend>
    
    <p>An email will be sent to the address below with instructions on signing up.</p>
    
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.hidden_field(:admin, value: true) if params[:type] == "admin" %>
    <%= f.hidden_field :university_id, value: current_university.id %>

    <div class="form-actions">
      <%= f.button :submit, "Send invitation instructions" %>
    </div>
  </fieldset>
<% end %>